.box{
  min-height: 100%;
  margin-top: 64px;
  .closeBox{
    position: fixed;
    right: 20px;
    top: 20px;
    color: #fff;
    font-size: 30px;
    z-index: 999;
    cursor: pointer;
  }
  .contentBox{
    .content{
      width: 80%;
      margin: 0 auto;
      margin-top: 20px;
      .imgBox{
        margin-bottom: 30px;
        width: 100%;
        height: 200px;
        overflow: hidden;
        border-radius: 4px;
        .img{
          width: 100%;
          border-radius: 4px;
        }
      }
    }
  }
}