.box {
  background-image: url(../../../asserts/images/1.jpg);
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.4);
  color: #fff;
}

.articleBox {
  .createTime {
    font-size: 13px;
    color: #fff;
    margin: 0 0 30px;
    letter-spacing: 1px;
  }

  .title {
    font-size: 32px;
    margin: 0 0 45px;
    letter-spacing: 1px;
  }

  .imageBox {
    overflow: hidden;
    margin: 40px 0;

    img {
      float: left;
      width: 100%;
    }
  }
}
